@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.ecommerce-logo {
    width: 163px;
    height: 56px;
}

.eommerce-carousel-container {
    height: 100vh;
}

.services-heading {
    font-family: "Roboto";
    font-size: 39px;
    font-weight: bold;
    color: #183b56;
}

.services-description {
    font-family: "Roboto";
    font-size: 20px;
    color: #616c7c;
}

.service-card-heading {
    font-family: "Roboto";
    font-size: 20px;
    color: #1f2933;
}

.service-card-description {
    font-family: "Roboto";
    font-size: 15px;
    color: #7b8794;
}

.products-heading {
    font-family: "Roboto";
    font-size: 35px;
    color: #183b56;
    font-weight: bold;
}

.product-description {
    font-family: "Roboto";
    font-size: 22px;
    color: white;
}

.product-title {
    font-family: "Roboto";
    font-size: 35px;
    color: white;
    font-weight: bold;
}

.product-card {
    height: 328px;
    padding: 20px;
    border-radius: 16px;
}

.headphones-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-products-headphones-bg.png");
    background-size: cover;
}

.laptop-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/ecommerce-products-laptops-bg.png");
    background-size: cover;
}

.custom-button {
    color: #ff9f00;
    background-color: #ffffff;
    font-family: "Roboto";
    font-size: 16px;
    width: 134px;
    height: 48px;
    border-radius: 100px;
    border-width: 0;
}

.products-card-modal-list {
    list-style-type: none;
    padding-left: 0;
}

.products-card-modal-list-item {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
}

.detail-heading {
    font-weight: bold;
}

.see-all-offers-text {
    color: #ff9f00;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bold;
}

.ecommerce-offers-section-bg {
    background-image: linear-gradient(to right, #f49541, #dd5d97, #ad2167);
    background-size: cover;
}

.offer-heading {
    font-family: "Roboto";
    color: #ad2167;
    font-size: 30px;
    font-weight: 700;
}

.offer-description {
    font-family: "Roboto";
    color: #ffffff;
    font-size: 22px;
}

.discount {
    font-weight: bold;
    font-style: italic;
}

.explore-section {
    background-color: #f5f7fa;
}

.explore-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.explore-card {
    background-color: #ffffff;
    border-radius: 8px;
}

.explore-card-image {
    width: 100%;
    border-radius: 20px;
}

.explore-card-title {
    color: #183b56;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: bold;
}

.explore-card-product-title {
    color: #183b56;
    font-family: "Roboto";
    font-size: 18px;
}

.explore-deals-link {
    color: #ff9f00;
    font-family: "Roboto";
    font-size: 19px;
}

.contact-us-button {
    border-width: 3px;
    border-style: solid;
    text-align: center;
    color: #ff9f00;
    border-color: #ff9f00;
    width: 200px;
    padding: 8px;
    font-size: 28px;
}

.contact-us-caption {
    font-family: "Roboto";
    font-size: 40px;
    color: #183b56;
    font-weight: bolder;
}

.contact-us-section {
    background-color: #f5f7fa;
}

.footer-background {
    background-color: #19232d;
}

.icon {
    color: #5a7184;
    font-size: 25px;
}

.icon-bg {
    background-color: #202b36;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 30px;
    margin-right: 8px;
}

.contact-us-para {
    color: #5a7184;
    font-size: 17px;
    font-family: "Roboto";
    font-weight: 400;
    margin-bottom: 5px;
}

.contact-us-heading {
    color: #5a7184;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
}

.vr-footer-section-list {
    list-style-type: none;
    padding-left: 0;
}

.hr-line {
    background-color: #959ead;
}

.vr-footer-section-copyright {
    color: #959ead;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}
